name: Build and deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up emcc
      uses: mymindstorm/setup-emsdk@v14
      with:
        version: 3.1.61

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install terser
      run: npm install -g terser

    - name: Build C++
      run: |
        mkdir build
        cd build
        emcc ../src/*.cpp -I../includes -L../libs -lwebp -lsharpyuv -lheif -lde265 -s ALLOW_MEMORY_GROWTH=1 --bind -s EXPORTED_FUNCTIONS='[_main, _Decode, _Encode, _malloc, _free, _freeDecodeMalloc, _freeEncodeMalloc]' -s EXPORTED_RUNTIME_METHODS='[HEAPU8, getValue, setValue]'

    - name: Copy index.html
      run: |
        cp index.html ./build/

    - name: Copy style.css
      run: |
        cp style.css ./build/

    - name: Copy compressed js
      run: |
        terser image-web-utils.js --compress --mangle -o ./build/image-web-utils.js

    - name: Copy over images
      run: |
        cp -r images/ ./build/

    - name: Create .nojekyll
      run: |
        touch ./build/.nojekyll

    - name: Deploy to build branch
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: build
        publish_dir: ./build
